*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../Media/fond/relojzod.jpg");
    background-size: cover;
    background-position: 100% 100%;
    object-fit: cover;
}

div{
    position: relative;
    width: 250px;
    margin-left: 65px;
    margin-top: 15px;
    margin-bottom: 45px;
    transition: all .3s ease;
    display: inline-block;
}

div img:first-child{
    width: 280px;
    box-shadow: 10px 20px 10px -10px black;
    object-fit: cover;
    border-radius: 15px;
    opacity: 0.9;
}
div img:last-child{
    opacity:0;
    width: 250px;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .3s ease;
    transform: translateY(25%);
    margin: auto;
}
div:hover{
    transform: 
    perspective(250px)
    rotateX(10deg)
    translateZ(0)
    translateY(-5%);
}
div::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 10% rgba(51,50,50,0.05)
        rgb(53,53,57)98%);
        opacity: 0;
        transition: all 3s ease;
        backdrop-filter: blur(1px);
    
}
div:hover::before{
    opacity: 1;
}
div:hover img:last-child{
    opacity: 1;
}